<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Ernesto</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="by.andersen.coworkingapp.model.entity.User"/>
        <mapping class="by.andersen.coworkingapp.model.entity.Reservation"/>
        <mapping class="by.andersen.coworkingapp.model.entity.CoworkingSpace"/>
    </session-factory>
</hibernate-configuration>