<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Dashboard</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.login}"></span></h1>

<div th:if="${success}" style="color: green">
    <span th:text="${success}"></span>
</div>

<nav>
    <a th:href="@{/customer/spaces}">Browse Spaces</a>
    <a th:href="@{/customer/reservations/new}">New Reservation</a>
    <a th:href="@{/customer/reservations}">My Reservations</a>
    <a th:href="@{/logout}">Logout</a>
</nav>
</body>
</html>